body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
  color: #7e7474
}

hr {
  border-color: #e7e6e1;
  border-style: dotted none none none;
  border-width: 6px;
  width: 7%;
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pinyon Script', cursive;
  font-size: 5rem;
  color: #11999e;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #11999E;
}

.top {
  background-color: #e3fdfd;
  position: relative;
  padding: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill1-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill3-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-pic {
  width: 15%;
  padding-top: 4rem;
}

.footer-link {
  padding: 2rem;
  color: #11999E;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

.bottom {
  background-color: #66BFBF;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.owner {
  padding: 1.5rem;
  font-family: 'Arapey', serif;
  font-size: 1rem;
  color: white;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  width: 139px;
  font-size: 19px;
  font-weight: 100;
  padding: 18px;
  border: solid #0D772A 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5rem;
}

.btn:hover {
  border: solid #0D772A 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.contact-message {
  width: 40%;
  margin: auto auto 4rem;
}

.college-link {
  color: #b0efeb;
  text-decoration: none;
}
.college-link:hover{
  color: white;
}

.my-skill-rep{
  color:#94b5c0;
  text-decoration: none;
}

.my-skill-rep:hover{
  color: #435560;
}
